
 
h1, h3 {
    text-align: center;
} 

table {
    border: 2px solid black
}

tr:nth-of-type(odd){
    background-color: rgb(105, 186, 212, 0.5);
}

.box {
    font-size: 50px;
    color: white;
    padding: 5px;
    max-width:25%;
    max-height:auto;
    transition: transform ease 0.5s;
    overflow: auto;
   
 }
 .box:hover{
   transform: scale(1.5);
   padding-left: 4rem;

 }
   