@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
  background-color: #eee;
  margin: 0;
  font-family: Open Sans;
}


h1, h2{
  margin:  0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

.box {
    font-size: 50px;
    color: white;
    padding: 5px;
    font-family: lato;
    font-weight: 300;
    box-sizing: border-box;
    width: 300px;
    transition: transform ease 0.5s;
    overflow: hidden;
   
 }
 .box:hover{
   transform: scale(2);
   padding-left: 4rem;
 }
   

html {
  font-family: Arial;
  text-transform: uppercase;
}

@media screen and (max-width: 575px) {
  main {
    flex-direction: column;
  }
  .sidebar-left {
    order: 2;
  }
}

